@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.resumeSection {
  padding: 0 1em;

  background: rgb(20, 156, 197);
  background: -moz-linear-gradient(
    -45deg,
    rgb(35, 32, 211) 0%,
    rgb(64, 99, 155) 28%,
    rgb(72, 177, 247) 86%,
    rgb(64, 171, 221) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgb(42, 91, 206)),
    color-stop(28%, rgb(39, 68, 231)),
    color-stop(86%, rgb(72, 89, 247)),
    color-stop(100%, rgb(72, 84, 247))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgb(35, 32, 211) 0%,
    rgb(64, 99, 155) 28%,
    rgb(72, 177, 247) 86%,
    rgb(64, 171, 221) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgb(35, 32, 211) 0%,
    rgb(64, 99, 155) 28%,
    rgb(72, 177, 247) 86%,
    rgb(64, 171, 221) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgb(35, 32, 211) 0%,
    rgb(64, 99, 155) 28%,
    rgb(72, 177, 247) 86%,
    rgb(64, 171, 221) 100%
  );
  background: linear-gradient(
    135deg,
    rgb(35, 32, 211) 0%,
    rgb(64, 99, 155) 28%,
    rgb(72, 177, 247) 86%,
    rgb(64, 171, 221) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#f7484e', GradientType=1 );
}

@media only screen and (min-width: 950px) {
  .resumeSection {
    padding: 0 10em;
  }
}

/* Section Header */

.resumeBar {
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}

.resumeBar h1 {
  font-family: 'Poiret One', cursive;
  font-size: 3em;
  padding: 0.5em 0;
  margin: 0;
}

.resumeBar img {
  height: 3em;
  padding: 0.5em 0;
  margin: 0;
  transition: all 0.2s ease-in-out;
}

.resumeBar img:hover {
  transform: scale(1.1);
}

/* Tap for details  */

.tapForDetails {
  font-family: 'Poiret One', cursive;
  letter-spacing: .5px;
  color: #fff;
  text-align: center;
  padding: 1em 0 0 0;
}


/* Timeline */

.cdTimeline {
  overflow: hidden;
  margin: 0 auto;
  padding: 0 0 2em 0;
}

.cdTimelineContainer {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em 0;
}

.cdTimelineContainer::before {
  /* VERTICAL LINE */
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

/* Business Cards */

.cdTimelineBlock:first-child {
  margin-top: 0;
}

.cdTimelineBlock {
  position: relative;
  margin: 2em 0;
}

.cdTimelineBlock::after {
  content: '';
  display: table;
  clear: both;
}

.cdTimelineImg.cdTimelineImgPicture {
  background: #fff;
}

.cdTimelineImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cdTimelineImg img {
  display: block;
  position: relative;
  left: 30%;
  top: 30%;
  margin: -12px 0 0 -12px;
}

.cdTimelineContent {
  position: relative;
  margin-left: 60px;
  padding: 1.25em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 #d7e4ed;
}

.cdTimelineContent h4,
.cdTimelineContent h5 {
  margin-bottom: 0.25em;
}

.cdTimelineContent::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #fff;
}

.cdTimelineContent::after {
  content: '';
  display: table;
  clear: both;
}

.cdTimelineContent li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  margin: 1em 0;
  line-height: 1.25;
}

.jobTopContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.jobTopContainer img {
  max-height: 25px;
  max-width: 100px;
  margin: 0 0 0 .5em;
}

.cdTimelineReadMore {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  padding: 0.5em 0.75em;
  background: #acb7c0;
  color: #fff;
  border-radius: 0.25em;
}

.cdTimelineReadMore,
.cdTimelineDate {
  display: inline-block;
}

.cdTimelineDate {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  letter-spacing: .5px;
  float: right;
  padding: 0.4em 0 0.5em;
}

a {
  text-decoration: none;
}

/* For wider screens */

@media only screen and (min-width: 950px) {
  .cdTimelineContainer::before {
    /* this is the vertical line */
    left: 50%;
    margin-left: 1px;
  }

  .tapForDetails {
    padding: 1em 0 2em;
  }

  .cdTimelineBlock {
    margin: 1.5em 0;
  }

  .cdTimelineBlock:nth-child(even) .cdTimelineContent {
    float: right;
  }

  .cdIsHidden {
    visibility: hidden;
  }

  .cdTimelineImg {
    width: 40px;
    height: 40px;
    left: 51.25%;
    margin-left: -30px;
    transform: translateZ(0);
  }

  .cdTimelineImg.cdTimelineImg--bounce-in {
    visibility: visible;
    animation: cd-bounce-1 0.6s;
  }

  .cdTimelineContent {
    margin-left: 0;
    padding: 1em 1.5em;
    width: 45%;
    transform: translateZ(0);
  }

  .cdTimelineBlock:nth-child(even) .cdTimelineContent::before {
    top: 15px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }

  .cdTimelineBlock:nth-child(even) .cdTimelineReadMore {
    float: right;
  }
  .cdTimelineBlock:nth-child(even) .cdTimelineDate {
    left: auto;
    right: 122%;
    text-align: right;
    color: #fff;
  }

  .cdTimelineContent::before {
    top: 15px;
    left: 100%;
    border-color: transparent;
    border-left-color: #fff;
  }

  .cdTimelineReadMore {
    float: left;
  }

  .cdTimelineDate {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    color: #fff;
  }
}

.wrapCollabsible input[type='checkbox']:checked + label {
  left: 27px;
}

/* Label Content */

.lblToggle {
  padding: 0.75em 1em 0;
  margin-top: 0.5em;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lblToggle::after {
  content: ' ';
  transition: transform 0.2s ease-out;
}

/* Input Tag Toggle*/

.toggle {
  display: none;
}

.toggle:checked + .lblToggle + .collapsibleContent {
  max-height: 1000px;
}

.toggle:checked + .lblToggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Collapsible Content & Inner Content */

.collapsibleContent {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  border-bottom-right-radius: 7px;
}

.collapsibleContent .contentInner {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0rem 0rem;
}

.contentInner ul {
  list-style-type: none;
  margin-left: 0.25em;
  padding-left: 20px;
}

.contentInner li {
  position: relative;
  padding-left: 0.5em;
  margin: 0 0 0.75em 0;
}

.contentInner li:before {
  position: absolute;
  top: 0;
  left: -1.5em;
  font-family: FontAwesome;
  content: '\f058';
}

.toggle:checked + .lblToggle + .collapsibleContent {
  max-height: 1000px;
}
